#section-rank {
  max-height: 700px;
  max-width: 330px;
  min-width: fit-content;
  padding-right: 150px;
  margin-left: 40px;
  margin-top: 200px;

  @media screen and (max-width: 550px){
    margin-left: 15px;
  }
}
